<% include partials/header.ejs %>

<form id='user_form'>
    <input type="hidden" id="custId" name="custId" value="<%= data._id %>">
    <div>
        <label for="beds_quantity">Number of beds</label>
        <input id='beds' type="number" name="beds" min="0" max="10" value="<%= data.beds %>"> <br>
    </div>
    <div>
        <label for="img_url">URL:</label>
        <input id='image' type="url" name="url" value="<%= data.main_image %>"> <br>
    </div>
    <div>
        <label for="price">Price:</label>
        <input id='price' type="number" name="price" value="<%= data.price %>"> <br>
    </div>
    <div>
        <label for="title">Title</label>
        <input id='title' type="text" name="title" value="<%= data.name %>"> <br>
    </div>

    <input type="submit">

</form>
<% include partials/footer.ejs %>

<script>
    $('form').on('submit', (e) => {
        e.preventDefault();

        let beds = $('#beds').val();
        let image = $('#image').val();
        let price = $('#price').val();
        let title = $('#title').val();

        let id = $('#custId').val();


        $.ajax({
            method: 'PUT',
            url: '/rooms/' + id,
            data: { 'beds': beds, 'image': image, 'price': price, 'title': title  }
        })
        .done((data) => {
            window.location.href = '/';
        })
        .fail((jqXHR, textStatus, error) => {
            console.log('error')
        })

    })

</script>

</html>